<!DOCTYPE html>
<html>

<head>
    <title>Dras-Leona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.0/angular.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>

<body ng-app='packageTrackerApp'>
    <div class="container">
        <div class="row">
            <div ng-controller="MainController as vm">
                <div class="well col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Household</a></li>
                        <li><a href="#">Fragrances</a></li>
                        <li><a href="#">Electronics</a></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <table ng-table="vm.tableParams" class="table" show-filter="true">
                        <tr ng-repeat="parcel in $data" class="col-md-3">
                            <td title="'Name'">
                                <div class="panel panel-info">
                                    <div class="panel-heading">{{parcel.name}}</div>
                                    <div class="panel-body">
                                        <img ng-src="{{parcel.image}}" width="50%" height="50%">
                                    </div>
                                    <div class="panel-footer" ng-click="vm.showMap(parcel.live_location)">Show Location</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="map" class="map-style"></div>
        </div>
    </div>
</body>

</html>
