.table>tbody>tr {
	display: table-cell;
}

.table>tbody>tr>td {
	border-top: none;
}

.map-style{
    width: 100%;
    height: 250px;
}

.main-container {
    width: 100%;
    padding: 25px;
    min-height: 950px;
    background-color: #F49602;
    color: #FFFFFF;
    position: relative;
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
}

.page-content {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 0 0 20px;
    min-height: 600px;
}

.image-class {
  	height: 100px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #D7D7D7;
}
h2 {	
	text-align: left;
	font-size: 40px;
	padding: 10px;   
}
.top-header {
	margin-bottom: 20px;
}
.header-title{
    margin-left: 30px;
}
.panel-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mapModal .modal-header {
    background-color: #F49602;
    border-radius: 5px 5px 0 0;
}
#mapModal .close {
    color: #000;
    background: #FFF;
    padding: 0 5px;
    border-radius: 50%;
}

.panel-primary {
    border-color: #F49602; 
}

.panel-primary>.panel-heading {
    background-color: #F49602; 
    border-color: #F49602; 
}

.parcel-content .panel-body {
    color: #000;
    padding: 20px 5px;
    min-height: 165px;
}
.parcel-content .panel-body .glyphicon {
    margin-right: 5px;
}
.parcel-content .panel-footer {
    padding: 10px 0px;
}
.parcel-content .color {   
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000;
}
.color, .price, .quantity {
    margin-right: 5px;
    width: 30px;
    display: block;
    float: left;
    text-align: center;
}
.panel-row span {
    text-transform: capitalize;
}
.panel-footer .label {
    padding: 5px 10px;
    cursor: pointer;
}
.panel-footer .glyphicon {
    display: inline;
}
.nopadding {
    padding: 0;
    margin: 0;
}
.showImage, .showContent {
    display: block;
}
.hideImage, .hideContent {
    display: none;
}
.panel-row {
    padding: 5px 0;
}
.center-block {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 320px) and (max-width:600px) {
	.image-class {
	    height: 125px;
	    width: 130px;
	}
    h2 {	
		display: none;
	}
	.top-header {
		margin-bottom: 10px;
	}
}